<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="base_color">
        <color rgba="0.75294 0.75294 0.75294 1"/>
    </material>

    <material name="abd_link_color">
        <color rgba="0.75294 0.75294 0.75294 1"/>
    </material>
    
    <material name="thigh_link_color">
        <color rgba="0.75294 0.75294 0.75294 1"/>
    </material>

    <material name="shank_link_color">
        <color rgba="0.75294 0.75294 0.75294 1"/>
    </material>

    <material name="foot_color">
        <color rgba="0 0 0 1"/>
    </material>


</robot>
