<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="PI" value="3.14159265359"/>

<!-- base -->
<xacro:property name="base_com_x" value="0.0047249"/>
<xacro:property name="base_com_y" value="-0.0000117"/>
<xacro:property name="base_com_z" value="0.0011585"/>
<xacro:property name="base_mass" value="3.4234000"/>
<xacro:property name="base_ixx" value="0.0163964"/>
<xacro:property name="base_ixy" value="-0.0000159"/>
<xacro:property name="base_ixz" value="0.0010427"/>
<xacro:property name="base_iyy" value="0.0425922"/>
<xacro:property name="base_iyz" value="-0.0000006"/>
<xacro:property name="base_izz" value="0.0511340"/>

<!-- fr_abd_l -->
<xacro:property name="abd_l_com_x" value="0.0492121"/>
<xacro:property name="abd_l_com_y" value="-0.0779589"/>
<xacro:property name="abd_l_com_z" value="0.0008006"/>
<xacro:property name="abd_l_mass" value="1.350949"/>
<xacro:property name="abd_l_ixx" value="0.0033376"/>
<xacro:property name="abd_l_ixy" value="-0.0001656"/>
<xacro:property name="abd_l_ixz" value="0.000009"/>
<xacro:property name="abd_l_iyy" value="0.0011263"/>
<xacro:property name="abd_l_iyz" value="-0.0000051"/>
<xacro:property name="abd_l_izz" value="0.0033905"/>

<!-- fr_hip_l -->
<xacro:property name="hip_l_com_x" value="-0.0000042"/>
<xacro:property name="hip_l_com_y" value="0.0008381"/>
<xacro:property name="hip_l_com_z" value="-0.0603416"/>
<xacro:property name="hip_l_mass" value="0.2502465"/>
<xacro:property name="hip_l_ixx" value="0.0011437"/>
<xacro:property name="hip_l_ixy" value="0"/>
<xacro:property name="hip_l_ixz" value="-0.0000001"/>
<xacro:property name="hip_l_iyy" value="0.0011591"/>
<xacro:property name="hip_l_iyz" value="0.0000243"/>
<xacro:property name="hip_l_izz" value="0.000072"/>

<!-- fr_knee_l -->
<xacro:property name="knee_l_com_x" value="-0.0035383"/>
<xacro:property name="knee_l_com_y" value="-0.0000273"/>
<xacro:property name="knee_l_com_z" value="-0.068842"/>
<xacro:property name="knee_l_mass" value="0.20174"/>
<xacro:property name="knee_l_ixx" value="0.0010436"/>
<xacro:property name="knee_l_ixy" value="-0.0000001"/>
<xacro:property name="knee_l_ixz" value="-0.0000693"/>
<xacro:property name="knee_l_iyy" value="0.0010692"/>
<xacro:property name="knee_l_iyz" value="-0.000001"/>
<xacro:property name="knee_l_izz" value="0.0000424"/>

<!-- foot_FR -->
<xacro:property name="foot_l_com_x" value="0.001497984407"/>
<xacro:property name="foot_l_com_y" value="2.00E-15"/>
<xacro:property name="foot_l_com_z" value="7.77E-05"/>
<xacro:property name="foot_l_mass" value="0.025"/>
<xacro:property name="foot_l_ixx" value="2.00E-06"/>
<xacro:property name="foot_l_ixy" value="0"/>
<xacro:property name="foot_l_ixz" value="0"/>
<xacro:property name="foot_l_iyy" value="2.00E-06"/>
<xacro:property name="foot_l_iyz" value="0"/>
<xacro:property name="foot_l_izz" value="2.00E-06"/>
<xacro:property name="foot_stiffness" value="30000"/>
<xacro:property name="foot_damping" value="750"/>
<xacro:property name="foot_spinning_friction" value="0.3"/>
<xacro:property name="foot_lateral_friction" value="50"/>


<!-- fr_abd_j -->
<xacro:property name="abd_j_com_x" value="0.155"/>
<xacro:property name="abd_j_com_y" value="-0.06"/>
<xacro:property name="abd_j_com_z" value="0.00E+00"/>
<xacro:property name="abd_j_axis" value="1 0 0"/>
<xacro:property name="abd_j_lower" value="-4.8"/>
<xacro:property name="abd_j_upper" value="4.8"/>
<xacro:property name="abd_j_effort" value="20"/>
<xacro:property name="abd_j_velocity" value="52.4"/>

<!-- fr_hip_j -->
<xacro:property name="hip_j_com_x" value="0.043751"/>
<xacro:property name="hip_j_com_y" value="-0.0796"/>
<xacro:property name="hip_j_com_z" value="0"/>
<xacro:property name="hip_j_axis" value="0 -1 0"/>
<xacro:property name="hip_j_lower" value="55"/>
<xacro:property name="hip_j_upper" value="-4.047197551"/>
<xacro:property name="hip_j_effort" value="4.188790205"/>
<xacro:property name="hip_j_velocity" value="28.6"/>

<!-- fr_knee_j -->
<xacro:property name="knee_j_com_x" value="0"/>
<xacro:property name="knee_j_com_y" value="0"/>
<xacro:property name="knee_j_com_z" value="-0.1915"/>
<xacro:property name="knee_j_axis" value="0 -1 0"/>
<xacro:property name="knee_j_lower" value="55"/>
<xacro:property name="knee_j_upper" value="-4.696533694"/>
<xacro:property name="knee_j_effort" value="4.916297857"/>
<xacro:property name="knee_j_velocity" value ="28.6"/>


<!-- dummy_j -->
<xacro:property name="dummy_j_com_x" value="0"/>
<xacro:property name="dummy_j_com_y" value="0"/>
<xacro:property name="dummy_j_com_z" value="-0.16693"/>
<xacro:property name="dummy_j_axis" value="0 0 1"/>




</robot>
