<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m2">
  <!-- Add your robot description here -->
  <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
    <xacro:arg name="DEBUG" default="false"/>

    <xacro:include filename="$(find svanm2_description)/xacro/const.xacro"/>
    <xacro:include filename="$(find svanm2_description)/xacro/materials.xacro"/>
    <xacro:include filename="$(find svanm2_description)/xacro/leg.xacro"/>
    <xacro:include filename="$(find svanm2_description)/xacro/gazebo.xacro"/>


    <!-- <xacro:stairs stairs="15" xpos="0" ypos="0" zpos="0" /> -->

    <!-- Rotor related joint and link is only for demonstrate location. -->
    <!-- Actually, the rotor will rotate and the joint is not fixed. Reduction ratio should be considered. -->

    <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
    <xacro:if value="$(arg DEBUG)">
        <link name="world"/>
        <joint name="base_static_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="world"/>
            <child link="base"/>
        </joint>
    </xacro:if> 

    <!-- <joint name="base_dummy_j" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="base_dummy"/>
        <child link="base"/>
    </joint> -->

    <link name="base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://svanM2_description/meshes/BASE.STL" scale="1 1 1"/>
            </geometry>
            <material name="svan"/> 
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh
                filename="package://svanM2_description/meshes/BASE.STL" />
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="${base_com_x} ${base_com_y} ${base_com_z}"/>
            <mass value="${base_mass}"/>
            <inertia
                ixx="${base_ixx}" ixy="${base_ixy}" ixz="${base_ixz}"
                iyy="${base_iyy}" iyz="${base_iyz}"
                izz="${base_izz}"/>  
        </inertial>
    </link>


    <!-- (1 for not mirrored , -1 for mirrored )-->
    <!-- (1 for front_hind is true, -1 for front_hind is not true)-->
    <xacro:leg name="FR" mirror="1" front_hind="1"  />
    <xacro:leg name="FL" mirror="-1"  front_hind="1"  />
    <xacro:leg name="RR" mirror="1" front_hind="-1" />
    <xacro:leg name="RL" mirror="-1"  front_hind="-1" />


</robot>
